# Default ignored files
/../../ Snap-in Development Challenge /.idea/shelf/
/../../ Snap-in Development Challenge /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../ Snap-in Development Challenge /.idea/httpRequests/
# Datasource local storage ignored files
/../../ Snap-in Development Challenge /.idea/dataSources/
/../../ Snap-in Development Challenge /.idea/dataSources.local.xml
